<div id="background">
  <header class="cf">

  </header>
  <div class="wrapper_skinny">
    <h1>Your musical scratch pad</h1>
    <%= link_to "Add Your Band", new_podcast_registration_path, class: "button button_highlight" %>
    <%= link_to "Bands", podcasts_path, class: "button button_white" %>
  </div>
</div>
